<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NoPixel Player list</title>

  </head>
  <body>
    <h1> NoPixel Player list </h1>
        <ul >
        <% @players.each do |player| %>
          <li> <%= player['id'] %> | <%= player['name'] %> </li>
        <% end %>
        </ol>
  </body>
</html>